@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-shadow-light{
  text-shadow: .1rem .1rem .2rem whitesmoke;
}
.text-shadow-dark{
  text-shadow: .1rem .1rem .2rem #222;
}

.customizeForm {
  @apply w-full  border-0 border-b-2 border-gray-300 focus:border-primary focus:ring-0 focus:border-b-3;
}
.customizeLabel {
  @apply text-base text-gray-700 font-bold block;
}
.customizeCard{
  @apply grid grid-cols-2 max-w-5xl mx-auto shadow-xl 
}
.customField{
 @apply px-5 py-2
}
.customNumberInput{
  @apply focus:border-primary focus:ring-primary
}

.buttonPrimary{
  @apply text-white bg-cyan-600 rounded shadow font-bold flex items-center py-1 px-2 text-sm md:text-base md:px-4 mb-1 hover:bg-cyan-700 active:bg-cyan-500
}

.flexRowCenter{
  @apply flex justify-center items-center
}
.flexColCenter{
  @apply flex flex-col justify-center items-center
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
